<plugin name='springcache' version='1.2-SNAPSHOT' grailsVersion='1.2-M3 &gt; *'>
  <author>Rob Fletcher</author>
  <authorEmail>rob@energizedwork.com</authorEmail>
  <title>Spring Cache Plugin</title>
  <description>Allows caching and flushing aspects to be added to Grails services using annotations.</description>
  <documentation>http://grails.org/Springcache+Plugin</documentation>
  <resources>
    <resource>BuildConfig</resource>
  </resources>
  <dependencies>
    <resolvers>
      <resolver type='grailsPlugins' name='grailsPlugins' />
      <resolver type='mavenLocal' />
      <resolver type='mavenCentral' />
      <resolver type='mavenLocal' />
      <resolver type='mavenRepo' root='http://m2repo.spockframework.org/snapshots' name='http://m2repo.spockframework.org/snapshots' m2compatbile='true' />
    </resolvers>
    <dependency group='net.sf.ehcache' name='ehcache' version='1.7.1' conf='compile' transitive='true'>
      <excludes group='*' name='jms' />
      <excludes group='*' name='commons-logging' />
      <excludes group='*' name='servlet-api' />
    </dependency>
    <dependency group='net.sf.ehcache' name='ehcache-web' version='2.0.0' conf='compile' transitive='true'>
      <excludes group='*' name='ehcache-core' />
    </dependency>
    <dependency group='org.gmock' name='gmock' version='0.8.0' conf='test' transitive='true'>
      <excludes group='*' name='junit' />
    </dependency>
    <dependency group='org.hamcrest' name='hamcrest-all' version='1.1' conf='test' transitive='true' />
  </dependencies>
  <behavior />
</plugin>