<plugin name='springcache' version='1.1-SNAPSHOT' grailsVersion='1.2-M3 &gt; *'>
  <author>Rob Fletcher</author>
  <authorEmail>rob@energizedwork.com</authorEmail>
  <title>Spring Cache Plugin</title>
  <description>Allows caching and flushing aspects to be added to Grails services using annotations.</description>
  <documentation>http://grails.org/Springcache+Plugin</documentation>
  <resources>
    <resource>BuildConfig</resource>
  </resources>
  <dependencies>
    <resolvers>
      <resolver type='grailsPlugins' name='grailsPlugins' />
      <resolver type='mavenLocal' />
      <resolver type='mavenCentral' />
      <resolver type='mavenLocal' />
      <resolver type='mavenRepo' root='http://download.java.net/maven/2/' name='http://download.java.net/maven/2/' m2compatbile='true' />
    </resolvers>
  </dependencies>
  <behavior />
</plugin>